---
import Layout from '../layouts/Layout.astro'
import Home from '../components/Home.tsx'

// Setting SSG for this page!
export const prerender = true

const query = {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json',
    Authorization: `Bearer ${import.meta.env.HYGRAPH_TOKEN}`,
  },
  body: JSON.stringify({
    query: `
      query getCarriersHome($id: ID) {
        carriersSection(where: { id: $id }) {
          cta
          disclamer
        }
      }
`,
    variables: { id: import.meta.env.HYGRAPH_CARRIERS_ID },
  }),
}

let data = null
try {
  const response = await fetch(import.meta.env.HYGRAPH_ENDPOINT, query)
  const json = await response.json()
  data = json.data.carriersSection
} catch (error) {
  // logs to dataDog
  console.error(error)
}
---

<Layout title="Welcome to Astro.">
  <main>
    <Home >
      {data && (
        <div class="container">
          <h1>{data.cta}</h1>
          <p>{data.disclamer}</p>
        </div>
      )}
      </Home>
  </main>
</Layout>

<style>
  main {
    font-size: 20px;
    line-height: 1.6;
    background-color: #FFF;
  }

  .container {
    padding: 2em;
    text-align: center;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style>
